{% extends "base.html" %}
{% block title %}Settings - HelloString{% endblock %}

{% block nav_right %}

<a class="nav-item nav-link" id="API" href="/api_docs" style="color:white">API</a>

{% if current_user.is_privilleged %}
<a class="nav-item nav-link" id="monitor" href="/monitor" style="color:white">Monitor</a>
{% endif %}

{% if current_user.is_authenticated %}       
    <a class="nav-item nav-link" id="logout" href="/settings" style="color:white">Settings</a>
    <a class="nav-item nav-link" id="logout" href="/logout" style="color:white">Logout</a>
{% else %}
    <a class="nav-item nav-link" id="login" href="/login" style="color:white">Login</a>
    <a class="nav-item nav-link" id="signUp" href="/sign-up" style="color:white">Sign Up</a>
{% endif %}

{% endblock %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            {% if category =='error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% endif %} 
        {% endfor %} 
    {% endif %} 
    {% endwith %}

    <script>
        var auth_key = '{{current_user.auth_key}}';

        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false );
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }

        function getHistory(email){

            let data = JSON.parse(httpGet('http://127.0.0.1:8001/api/get_user_history?auth=' + auth_key + '&user_email=' + encodeURIComponent(email) + '&num=-1'));
            
            let history = '<table><tr><td style="padding-left:1em;"><b>Text</b></td><td style="padding-left:1em;"><b>REST</b></td><td style="padding-left:1em;"><b>Parameters</b></td></tr>';

            if (data.records){
                if (data.records.length>0){
                    for (var i=0; i<data.records.length;i++){
                        history += '<tr><td style="padding-left:1em;">' + data.records[i].text + '</td><td style="padding-left:1em;">' + ((data.records[i].rest=='true')? 'Yes':'No') + '</td><td style="padding-left:1em; text-align:center;">' + data.records[i].parameters + '</td></tr>';
                    }
                }
                else{
                    history = 'No data history for ' + email;
                }
            }
            else{
                history = 'No data history for ' + email;
            }

            document.getElementById('user_history_div').innerHTML = history;
            
        }
    </script>

    <div class="body-main" style="width: 80%; height: 100%; margin: auto;">
        <div class="body-main-list" style="width: 100%; height: 80%; ">
            <div style="display: flex; flex-direction:row; justify-content:space-between;">
                <h4 style="padding-top: 10px">Verified User List</h4>
            </div>
            <hr style="border: 1; clear:both; display:block; width: 100%; border-color:gray; background-color:black; height: 1px;">
            <div style="width: fit-content; max-height: 450px; overflow: auto">
                <p>User Email</p>
                {% for email in user_emails %}
                <button type="button" class="btn btn-light" style="white-space: normal; background-color:transparent; padding: unset; margin: unset; border: 0;" onclick="getHistory(this.value)" value={{email}}><span style="font-size: 16px"><b><u>{{email}}</u></b></span></button>
                {% endfor %}
            </div>
            <br>
            <div style="display: flex; flex-direction:row; justify-content:space-between;">
                <h4 style="padding-top: 10px">User History</h4>
            </div>
            <hr style="border: 1; clear:both; display:block; width: 100%; border-color:gray; background-color:black; height: 1px;">
            <div style="width: fit-content;  max-height: 400px; overflow: auto" id="user_history_div">
            </div>
        </div>
    </div>


{% endblock %}